doctype html
html

  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="reveal.js/css/reveal.css")
    link(rel="stylesheet" href="reveal.js/css/theme/white.css")
    script(src="js/reveal.js")
    script.
      Reveal.initialize();

  body

    div.reveal
      div.slides
        section
          slide1
        section
          slide2

