doctype html
html

  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="/reveal/css/reveal.css")
    link(rel="stylesheet" href="/reveal/css/theme/white.css")
  body

    div.reveal
      div.slides
        section
          slide1
        section
          slide2

    script(src="/reveal/js/reveal.js")
    script.
      Reveal.initialize();



