doctype html
html

  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="/reveal/css/reveal.css")
    link(rel="stylesheet" href="/reveal/css/theme/white.css")
  body

    div.reveal
      div.slides
        section
          h1 node.js로 서버만들기
          h3 익게이
        section
          h1
            span.text-danger 여러분 잠깐,
          h3.fragment 여러분은 정말 서버가 필요한가요?
          h3.fragment 무슨 의미냐구요?
        section
          p.text-info  그렇다면 이 페이지는 서버가 필요할까요?
          h3.fragment.
            넓은 의미에서는 yes
            좁은 의미에서는 no 입니다.
        section
          h1 넓은 의미의 서버
          h3 http server
          img(src='http://www.careerride.com/Image/MCA/HTTP_Protocol.png')
        section
          h1 http server
          ul
            li.fragment  클라이언트: 크롬,아이폰,안드로이드등을 사용하고 있는 우리
              ul
                li.fragment  하는 짓 => 서버에게 해당 주소에 해당하는 자원을 달라고 요청함(주로 html문서)
            li.fragment  서버가 하는 짓: 클라이언트가 요청한 자료를 주거나 거부함.
        section
          h1
            span.text-primary http server 왜필요?
          ul
            li 이 페이지가 html이다 (+css,javascript)
            li 그리고 우리가 원하는 html 파일이 상대편에게 있다
            li 따라서 서버가 을의 자세로 우리에게 html을 제공해야한다
        section
            h1 좁은 의미의 server
            h3 application server,db server...
            img(data-src='http://i.imgur.com/ard6nKd.png')
        section
            h1 application server?
            ul
              li 유저가 다른사람과 채팅을 하고싶다
                ul
                  li 서버가 다른 사람과 실시간으로 연결해줘야한다
              li 게시판에 글을 쓰고 싶다
                ul
                  li 유저에게 어떤 방식으로 글을 쓸지 제시해준다
                  li 유저가 쓰면 db에 예쁘게 저장한다
                  li 다시 보고싶으면 적절히 꺼내준다
              li .....
        section
            h1
              span.text-primary app server 왜 필요 음슴?
            ul
              li 유저가 database와 수시로 대화할 필요가 없기 때문
              li 유저만의 특별한 페이지가 필요하지 않기 때문(맞춤 x)
        section
            p.text-primary 그러면 node.js는 어떤 의미의 server?
            h3.fragment 서버 아님...
            h1.fragment 그냥 언어환경임!!!
            h3.fragment (java == 서버는 아니잖아?!)
        section
            p.text-primary 그럼 왜 node.js를 배우는데?
            h3.fragment java보다 훨씬 만만한 javascript로 무려 서버를 만들 수 있음
            h3.fragment 좁은의미, 넓은의미 둘 다 만들 수 있음
        section
            h1 서버 만들 환경 설정
            p.fragment 사실 이부분이 가장 빡칩니다.
            p.fragment 이거 나중에 설명드릴게요
            p.fragment 여러분, 지금 당장 만듭시다!
        section
            a(href='https://hyperdev.com' target='_blank') hyperdev
            h3 여기 당장 접속한다, 실시!
        section
          h3 이딴 화면이 떴을겁니다
          img(data-src='http://i.imgur.com/A8fqBUM.png')
        section
          h3 왼쪽에 server.js 탭으로 이동합니다.
          img(data-src='http://i.imgur.com/aMuYFTZ.png')
        section
          h3 안에 있는 내용 다 지웁니다 ㅡㅡ
          img(data-src='http://i.imgur.com/kBHm2Wm.png')
        section
          h3 아래와 같이 입력합니다
          img(data-src='http://i.imgur.com/kWp5vht.png')
        section
          h3 우측 상단의 show live 버튼을 누릅니다.
        section
          h3
            span.text-success 짜잔! 이것이 당신의 첫번째 웹서버입니다.
          h3 다른 친구에게 위에 있는 url을 그대로 복사해서 자랑해보세요
          h3
            span.text-danger 다른친구도 볼 수 있습니다!!!
        section
            h4 이제 웹개발을 하고싶은 의욕이 생겼나요?
            h2 다음시간엔 이것보다 더 많은 일을 하는 서버를 만들어보겠습니다.
        section
            h3 감사합니다.








    script(src="/reveal/js/reveal.js")
    script.
      Reveal.initialize()
